  h1 {
    color: #F9F6EE; 
	font-family: cursive;
	font-weight: 800;
	background-color: #3AAFA9;
    border: 8px solid #17252A;
	box-sizing: border-box;
	padding: 5px 10px 5px 10px;
	margin: 5px 10px;
  }	 
  td, th {
	color: #2B7A78;  
	border: 1px solid;
	font-family: cursive;
	text-align: center;
	padding: 10px;
  }
  th{
	height: 70px;
	background-color:#3AAFA9; 
	color: #17252A;
	font-size: 35px;
  }
  tr:hover{
	  background-color: #FFFDD0;
  }
  