  h1 {
    color: #6495ED; 
	font-family: cursive;
	font-weight: 800;
	background-color: #414141;
    border: 8px red;
	box-sizing: border-box;
	padding: 50px 10px 5px 10px;
  }	 
  td, th {
	border: 1px solid;
	font-family: cursive;
  }

  